* {
    padding: 0;
    margin: 0;
}


.toast-valid{
    background-color: green;
    border-radius: 30px;
    color: whitesmoke;
}

.toast-invalid{
    background-color: red;
    border-radius: 30px;
    color: whitesmoke;
}



